<section class="banners">
    <div class="banner">
        <img ngSrc="./assets/maquina-sublimacao.jpg" width="500" height="350" alt="image of industrial machines">
        <h4>Máquinas Modernas</h4>
        <p>As máquinas mais diversas focadas em entregar o melhor produto para nossos clientes.</p>
    </div>
    <div class="banner">
        <img ngSrc="./assets/personalizacao.jpg" width="500" height="350" alt="girl doing design job">
        <h4>Totalmente Personalizado</h4>
        <p>Focamos em entregas cada produto personalizado com a personalidade do cliente. Dessa forma, cada a experiêncoa consco é única!</p>
    </div>
</section>